[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
tox = "*"

[packages]
fastapi = "==0.52.0"
gunicorn = "==20.0.4"
pydantic = "==1.6.2"
sentry-sdk = "==0.14.2"
uvicorn = "==0.11.3"

[requires]
python_version = "3.7"
